
.textbox {
	border: none;
	border-bottom: 4px solid @textGrey;
	padding: 15px 0px;
	input {
		width: 100%;

		font-size: 1em;

		background-color: transparent;
		color: @textGrey;
		text-transform: uppercase;

		border: none;
	}
}
