
.lobby {
	.header {
		margin-bottom: @fontSizeLarge;
		.left {
			float: left;
		}
		.title {
			font-size: @fontSizeMedium;
			text-transform: capitalize;
			max-width: 80%;
			margin: 0px auto;
		}
		.playerCount {
			font-size: @fontSizeSmall;
		}
	}
	ul.players {
		font-size: @fontSizeSmall;
		li {
			text-align: left;
			padding: @fontSizeLarge 0px;
			.status {
				float: right;
				&.ready {
					color: @green;
				}
			}
		}
	}
}
