
.lobby {
	.header {
		margin-bottom: 80px;
		.left {
			text-align: left;
		}
		.title {
			text-transform: capitalize;
		}
		.playerCount {
			font-size: @fontSizeSmall;
		}
	}
	ul.players {
		font-size: @fontSizeSmall;
		li {
			text-align: left;
			padding: 25px 0px;
			.status {
				float: right;
				&.ready {
					color: @green;
				}
			}
		}
	}
}
